// Carte fonctionnement 

.functioning-cards {
    height: 72.38px;
    border-radius: 20px;
    background-color: $primary-background;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 500px;
    width: 100%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));

    @include large {
        justify-content: center;
        max-width: 322px;
    }

    .cards-number {
        height: 24px;
        width: 24px;
        background-color: $color-primary;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -12px;
    }

    .functioning-icon-1 {
        margin-right: 27px;
    }

    .functioning-icon-2 {
        margin-right: 23px;
    }

    .functioning-icon-3 {
        margin-right: 20px;
        color: $color-primary;
    }

    .functioning-text-content {
        margin-right: 38px;
        width: 65.52%;

        @include large {
            margin: 0;
        }
    }
}

// cards restaurants 

.restaurant-cards {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;

    @include large {
        max-width: 490px;
    }

    & img {
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .restaurant-new {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        width: 80px;
        height: 29px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background-new-text;
        position: absolute;
        right: 14.6px;
        top: 17px;
    }
    .restaurant-card-content {
        height: 77px;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 0 0 15px 15px;
        padding: 16px 0 12px 12.81px;
        z-index: 2;

        .restaurant-content-title {
            margin-bottom: 5px;
        }
        
        .restaurant-content-heart {
            width: 22px;
            height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 25px;

            .restaurant-cards-heart {
                position: absolute;
                height: 100%;
                display: flex;
                align-items: center;

            }
            
        }
    }
}

// carte menu 

.menu-cards {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    border-radius: 15px;
    background: white;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    gap: 5px;

    &-left {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 12px 0 12px 0;
        overflow: hidden;
        width: 90.22%;

    }

    &-description, &-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-self: stretch;
    }

    &-right {
        display: flex;
        align-items: flex-end;
    }

    &-price {
        margin: 0 0px 13.5px 0;
    }

    &-selector {
        border-radius: 0 15px 15px 0;
        width: 59px;
        height: 69px;
        align-items: center;
        justify-content: center;
        background-color: $background-new-text;
        display: flex;
    
        .check-icon {
            color: white;
        }
    }

}



