// Carte fonctionnement 

.functioning-cards {
    height: 72.38px;
    border-radius: 20px;
    background-color: $primary-background;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 500px;
    width: 100%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));

    @include large {
        justify-content: center;
        max-width: 322px;
    }

    .cards-number {
        height: 24px;
        width: 24px;
        background-color: $color-primary;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -12px;
    }

    .functioning-icon-1 {
        margin-right: 27px;
    }

    .functioning-icon-2 {
        margin-right: 23px;
    }

    .functioning-icon-3 {
        margin-right: 20px;
        color: $color-primary;
    }

    .functioning-text-content {
        margin-right: 38px;
        width: 65.52%;

        @include large {
            margin: 0;
        }
    }
}

// cards restaurants 

.restaurant-cards {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;

    @include large {
        max-width: 490px;
    }

    & img {
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .restaurant-new {
        width: 80px;
        height: 29px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background-new-text;
        position: absolute;
        right: 14.6px;
        top: 17px;
    }
    .restaurant-card-content {
        height: 77px;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 0 0 15px 15px;
        padding: 16px 0 12px 12.81px;
        .restaurant-content-title {
            margin-bottom: 5px;
        }
        .restaurant-heart {
            position: absolute;
            right: 24.63px;
            top: 23px;
        }
    }
    
}
