// Carte fonctionnement 

.functioning-cards {
    height: 72.38px;
    border-radius: 20px;
    background-color: $primary-background;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 20px 0 32.51px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    &--primary {
        background-color: $color-primary-light;
    }
    .cards-number {
        height: 24px;
        width: 24px;
        background-color: $color-primary;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translateX(-304px);
    }
    .functioning-icon-1 {
        margin-right: 27px;
    }
    .functioning-icon-2 {
        margin-right: 23px;
    }
    .functioning-icon-3 {
        margin-right: 20px;
        color: $color-primary;
    }
    .functioning-text-content {
        margin-right: 38px;
        width: 65.52%;
    }
}

// cards restaurants 

.restaurant-cards {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    & img {
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .restaurant-card-content {
        height: 77px;
        border-radius: 0 0 15px 15px;
        padding: 16px 0 12px 12.81px;
        .restaurant-content-title {
            margin-bottom: 5px;
        }
        & i {
            position: absolute;
            transform: translate(275.88px, -33px);
        }
    }
    
}
