// Footer


.footer-container {
    background-color: $footer-color;
    display: flex;
    flex-direction: column;
    padding: 22px 0 33px 25px;

    @include medium-up {
        height: 114px;
        flex-direction: row-reverse;
        padding: 0;
        justify-content: flex-start;
    }

    .footer-title {
        margin-bottom: 18px;

        @include medium-up {
            margin: 57px 26.42px 30px 0;
            width: 137px;
            height: 27px;
        }
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 7px;

        @include medium-up{
            flex-direction: row;
            margin: 64px 16px 30px 7px;
            height: 20px;
            width: 661px;
        }

    }
    .footer-content-span {
        display: flex;
        flex-direction: column;
        gap: 7px;

        @include medium-up {
            flex-direction: row;
            height: 20px;
            justify-content: flex-end;
            align-items: center;
            
        }

    }
    & span {
        color: white;
        width: 190px;
    }

    & span i {
        @include medium-up {
            margin-right: 5px;
        }
    }

    .footer-text {
        @include medium-up {
            width: 130px;
        }
    
    
        &--large {
            position: absolute;
            left: 47px;
            width: 168px;

            @include medium-up {
                left: 0;
                position:static;
            }
        }
    }
}