// Footer


.footer-container {
    background-color: $footer-color;
    display: flex;
    flex-direction: column;
    padding: 22px 0 33px 25px;
    //margin-top: 1063px;

    @include large {
        height: 114px;
        flex-direction: row-reverse;
        padding: 0;
        justify-content: flex-start;
    }

    .footer-title {
        margin-bottom: 18px;

        @include large {
            margin: 57px 26.42px 30px 0;
            width: 137px;
            height: 27px;
        }
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 7px;

        @include large {
            flex-direction: row;
            margin: 64px 16px 30px 7px;
        }

    }
    .footer-content-span {
        display: flex;
        flex-direction: column;
        gap: 7px;

        @include large {
            flex-direction: row;
        }

    }
    & span {
        color: white;
    }

    & span i {
        @include large {
            margin-right: 5px;
        }
    }

    .footer-text--large {
        position: absolute;
        left: 47px;
        width: 168px;

        @include large {
            left: 0;
            position:static;
        }
    }
}