* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 375px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.functioning-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.functioning-text--number {
  color: white;
  font-size: 14px;
}

.restaurant-content-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.restaurant-card-text {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.footer-title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: white;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.footer-text--large {
  font-weight: 500;
  text-decoration: none;
}

.btn-geolocation {
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.btn-rounded {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.header-container {
  height: 63px;
  background-color: white;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}
.header-container .header-logo {
  height: 44px;
  width: 42.66%;
  margin: 14px 108px 5px 105px;
  -o-object-fit: contain;
     object-fit: contain;
}

.functioning-cards {
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 20px 0 32.51px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}
.functioning-cards--primary {
  background-color: #F5EDFF;
}
.functioning-cards .cards-number {
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(-304px);
}
.functioning-cards .functioning-icon-1 {
  margin-right: 27px;
}
.functioning-cards .functioning-icon-2 {
  margin-right: 23px;
}
.functioning-cards .functioning-icon-3 {
  margin-right: 20px;
  color: #9356DC;
}
.functioning-cards .functioning-text-content {
  margin-right: 38px;
  width: 65.52%;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurant-cards img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-cards .restaurant-card-content {
  height: 77px;
  border-radius: 0 0 15px 15px;
  padding: 16px 0 12px 12.81px;
}
.restaurant-cards .restaurant-card-content .restaurant-content-title {
  margin-bottom: 5px;
}
.restaurant-cards .restaurant-card-content i {
  position: absolute;
  transform: translate(275.88px, -33px);
}

.footer-container {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 0 33px 25px;
}
.footer-container .footer-title {
  margin-bottom: 18px;
}
.footer-container .footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-container .footer-content-span {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-container span {
  color: white;
}
.footer-container .footer-text--large {
  position: absolute;
  left: 47px;
}

.geolocation-container {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #EAEAEA;
}
.geolocation-container i {
  margin: 0 17px 0 104px;
}

.discovery-container {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.discovery-container .discovery-title {
  width: 73.33%;
  height: 68px;
  margin: 39px 0 0 42px;
  text-align: center;
}
.discovery-container .discovery-text {
  width: 84%;
  height: 46px;
  margin: 0 0 27px 34px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.discovery-container .discovery-explore {
  width: 218px;
  margin: 0 0 57px 82px;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
}

.functioning-container {
  display: flex;
  flex-direction: column;
}
.functioning-container .functioning-title {
  margin: 48px 0 26px 20px;
  width: 73.33%;
}
.functioning-container .functioning-cards-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 68px;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 64px 20px;
  background-color: #F6F6F6;
}
.restaurant-container .restaurant-title {
  margin: 7px 0 42px 3px;
}
.restaurant-container .restaurant-cards-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}/*# sourceMappingURL=main.css.map */