* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 375px;
}
@media (min-width: 375px) {
  .main-container {
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 1400px;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .title-desktop {
    font-size: 40px;
  }
}

.discovery-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.functioning-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.functioning-text--number {
  color: white;
  font-size: 14px;
}

.restaurant-content-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.restaurant-card-text {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.restaurant-new-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #008766;
}

.footer-title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: white;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.footer-text--large {
  font-weight: 500;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}
.link-white {
  color: white;
}

.scroll-link {
  scroll-behavior: smooth;
}

.link-button {
  position: absolute;
}

.menu-restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.menu-items-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.menu-cards {
  font-family: "Roboto", sans-serif;
}
.menu-cards-title {
  font-size: 18px;
  font-weight: 500;
}
.menu-cards-description {
  font-size: 15px;
  font-weight: 300;
}
.menu-cards-price {
  font-size: 15px;
  font-weight: 700;
}

.btn-geolocation {
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

.btn-rounded {
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  animation: button-pink 1s;
  position: relative;
}
.btn-rounded::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  z-index: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.fa-heart {
  transform: scale(1.1, 1.045);
}

.menu-btn {
  width: 186px;
}

.btn-rounded {
  transition: opacity 300ms ease-out;
  transition: box-shadow 300ms ease-out;
}
.btn-rounded:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-items {
  opacity: 0;
  animation: menu 0.5s ease-in-out forwards;
}
.menu-items-1 {
  animation-delay: 0.5s;
}
.menu-items-2 {
  animation-delay: 1s;
}
.menu-items-3 {
  animation-delay: 1.5s;
}

.menu-cards {
  cursor: pointer;
}
.menu-cards:hover .menu-cards-right {
  width: 101px;
}
.menu-cards:hover .menu-cards-selector {
  transform: scaleX(1);
  margin-left: 15px;
}
.menu-cards .menu-cards-selector {
  transform: scaleX(0);
  transform-origin: center right;
  margin: 0;
  transition: all 0.25s ease-out;
}
.menu-cards .menu-cards-right {
  width: 42px;
  transition: width 0.25s ease-out;
}

.restaurant-heart-full {
  cursor: pointer;
  transition: all 250ms;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant-heart-full:hover {
  opacity: 1;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant-cards-heart:hover {
  animation: heart 0.5s ease-in-out forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes close-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
.loader {
  animation: close-loader 2s linear forwards;
}
.loader-animation {
  animation: rotate 1s linear infinite;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.loader-animation {
  width: 75px;
  height: 75px;
  border: 5px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: #9356DC;
  border-bottom-color: transparent;
  border-left-color: #FF79DA;
}

.header-container {
  height: 63px;
  background-color: white;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}
@media (min-width: 375px) {
  .header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .header-container {
    height: 96px;
  }
}
.header-container .header-arrow {
  position: absolute;
  left: 23px;
}
.header-container .header-arrow .header-back {
  font-size: 16px;
  transform: scaleX(1.2285);
  color: #353535;
}
.header-container .header-logo {
  height: 44px;
  width: 162px;
  margin: 14px 108px 5px 105px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 375px) {
  .header-container .header-logo {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .header-container .header-logo {
    height: 54px;
    width: 200px;
  }
}

.functioning-cards {
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 500px;
  width: 100%;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}
@media (min-width: 768px) {
  .functioning-cards {
    justify-content: center;
    max-width: 322px;
  }
}
.functioning-cards .cards-number {
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
}
.functioning-cards .functioning-icon-1 {
  margin-right: 27px;
}
.functioning-cards .functioning-icon-2 {
  margin-right: 23px;
}
.functioning-cards .functioning-icon-3 {
  margin-right: 20px;
  color: #9356DC;
}
.functioning-cards .functioning-text-content {
  margin-right: 38px;
  width: 65.52%;
}
@media (min-width: 768px) {
  .functioning-cards .functioning-text-content {
    margin: 0;
  }
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
}
@media (min-width: 768px) {
  .restaurant-cards {
    max-width: 490px;
  }
}
.restaurant-cards img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-cards .restaurant-new {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  width: 80px;
  height: 29px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  position: absolute;
  right: 14.6px;
  top: 17px;
}
.restaurant-cards .restaurant-card-content {
  height: 77px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 16px 0 12px 12.81px;
  z-index: 2;
}
.restaurant-cards .restaurant-card-content .restaurant-content-title {
  margin-bottom: 5px;
}
.restaurant-cards .restaurant-card-content .restaurant-content-heart {
  width: 22px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 25px;
}
.restaurant-cards .restaurant-card-content .restaurant-content-heart .restaurant-cards-heart {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-cards {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  border-radius: 15px;
  background: white;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  gap: 5px;
}
.menu-cards-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 12px 0 12px 0;
  overflow: hidden;
  width: 90.22%;
}
.menu-cards-description, .menu-cards-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: stretch;
}
.menu-cards-right {
  display: flex;
  align-items: flex-end;
}
.menu-cards-price {
  margin: 0 0px 13.5px 0;
}
.menu-cards-selector {
  border-radius: 0 15px 15px 0;
  width: 59px;
  height: 69px;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  display: flex;
}
.menu-cards-selector .check-icon {
  color: white;
}

.footer-container {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 0 33px 25px;
}
@media (min-width: 1000px) {
  .footer-container {
    height: 114px;
    flex-direction: row-reverse;
    padding: 0;
    justify-content: flex-start;
  }
}
.footer-container .footer-title {
  margin-bottom: 18px;
}
@media (min-width: 1000px) {
  .footer-container .footer-title {
    margin: 57px 26.42px 30px 0;
    width: 137px;
    height: 27px;
  }
}
.footer-container .footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1000px) {
  .footer-container .footer-content {
    flex-direction: row;
    margin: 64px 16px 30px 7px;
    height: 20px;
    width: 661px;
  }
}
.footer-container .footer-content-span {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1000px) {
  .footer-container .footer-content-span {
    flex-direction: row;
    height: 20px;
    justify-content: flex-end;
    align-items: center;
  }
}
.footer-container span {
  color: white;
  width: 190px;
}
@media (min-width: 1000px) {
  .footer-container span i {
    margin-right: 5px;
  }
}
@media (min-width: 1000px) {
  .footer-container .footer-text {
    width: 130px;
  }
}
.footer-container .footer-text--large {
  position: absolute;
  left: 47px;
  width: 168px;
}
@media (min-width: 1000px) {
  .footer-container .footer-text--large {
    left: 0;
    position: static;
  }
}

.geolocation-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 16px 133px 15px 104px;
  gap: 17px;
}

.discovery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 39px 26px 57px 34px;
}
@media (min-width: 768px) {
  .discovery-container {
    justify-content: flex-start;
    gap: 18px;
    padding-bottom: 42px;
  }
}
.discovery-container .discovery-title {
  width: 73.33%;
  height: 68px;
  text-align: center;
}
@media (min-width: 768px) {
  .discovery-container .discovery-title {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.discovery-container .discovery-text {
  width: 100%;
  height: 46px;
  text-align: center;
}
@media (min-width: 768px) {
  .discovery-container .discovery-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.discovery-container .discovery-explore {
  width: 218px;
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .discovery-container .discovery-explore {
    margin: 0;
  }
}

.functioning {
  display: flex;
  justify-content: center;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 768px) {
  .functioning {
    padding: 50px 20px 80px 20px;
  }
}
.functioning .functioning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .functioning .functioning-container {
    max-width: 1030px;
  }
}
.functioning .functioning-title {
  width: 73.33%;
  margin-bottom: 26px;
}
.functioning .functioning-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-left: 12px;
}
@media (min-width: 768px) {
  .functioning .functioning-cards-container {
    flex-direction: row;
    justify-content: center;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 64px 20px;
  background-color: #F6F6F6;
  align-items: center;
}
@media (min-width: 768px) {
  .restaurant {
    padding: 30px;
  }
}
.restaurant .restaurant-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .restaurant .restaurant-container {
    max-width: 1030px;
  }
}
.restaurant .restaurant-title {
  margin-bottom: 28px;
}
.restaurant .restaurant-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
@media (min-width: 768px) {
  .restaurant .restaurant-cards-container {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
    justify-items: center;
    align-items: center;
  }
}

.restaurant-menu {
  height: 1341px;
}
@media (min-width: 768px) {
  .restaurant-menu {
    height: 1483px;
    display: flex;
    justify-content: center;
  }
}
.restaurant-menu-other {
  height: 1421px;
}
@media (min-width: 768px) {
  .restaurant-menu-other {
    height: 1565px;
  }
}
.restaurant-menu-image {
  width: 100%;
  height: 383px;
  overflow: hidden;
}
.restaurant-menu img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .restaurant-menu img {
    height: 956.14px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    top: -330.48px;
  }
}

.menu {
  position: absolute;
  width: 100%;
  height: auto;
  top: 283px;
  z-index: 2;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 32px 13px 0 13px;
}
@media (min-width: 768px) {
  .menu {
    top: 439px;
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 51px;
  }
}
.menu .menu-title {
  display: flex;
  justify-content: space-between;
  height: 27px;
  margin-left: 4px;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .menu .menu-title {
    justify-content: start;
    position: relative;
    align-items: center;
    gap: 24px;
    margin-left: 0;
  }
}
.menu .menu-title .restaurant-heart {
  display: flex;
  align-items: center;
  position: absolute;
  right: 41px;
  top: 40px;
  height: 21px;
}
@media (min-width: 768px) {
  .menu .menu-title .restaurant-heart {
    position: absolute;
    top: 2.5px;
    right: -48px;
  }
}
@media (min-width: 768px) {
  .menu .menu-items {
    max-width: 634px;
    width: 100%;
  }
}
.menu .menu-items-title {
  height: 27px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.menu .menu-items-title::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu-cards-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.menu .menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */