// Responsive design 


@mixin medium {
    @media (min-width: $breakpoint-small) {
        @content;
    }
}

@mixin large {
    @media (min-width: $breakpoint-medium) {
        @content;
    }
}

@mixin medium-up {
    @media (min-width: $breakpoint-large) {
        @content;
    }
}

// Couleur boutton 

@mixin button-normal {
    background: linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
}

//coeur

@mixin heart {
    color: linear;
}


