// Couleurs

$color-primary: #9356DC;
$color-primary-light: #F5EDFF;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$footer-color: #353535;
$geolocation-color: #EAEAEA;
$primary-background: #F6F6F6;
