// Couleurs

$color-primary: #9356DC;
$color-primary-light: #F5EDFF;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$footer-color: #353535;
$geolocation-color: #EAEAEA;
$primary-background: #F6F6F6;
$new-text: #008766;
$background-new-text: #99E2D0;

// Breakpoints 

$breakpoint-small: 375px;
$breakpoint-medium : 915px;
$breakpoint-large: 1024px;  
$max-width : 1400px;


