// Géolocalisation 

.geolocation-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $geolocation-color;
    padding: 16px 133px 15px 104px;
    gap: 17px;
}

// Découverte

.discovery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-background;
    padding: 39px 26px 57px 34px;

    @include large {
        justify-content: flex-start;
        gap: 18px;
        padding-bottom: 42px;
    }

    .discovery-title {
        width: 73.33%;
        height: 68px;
        text-align: center;

        @include large {
            width: 100%;
            height: fit-content;
        }
    }
    .discovery-text {
        width: 100%;
        height: 46px;
        text-align: center;
        
        @include large {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .discovery-explore {
        width: 218px;
        margin-top: 27px;

        @include large {
            margin: 0;
        }
    }
}

// Fonctionnement 

.functioning {
    display: flex;
    justify-content: center;
    padding: 48px 20px 68px 20px;

    @include large {
        padding: 50px 20px 80px 20px;
    }
    
    .functioning-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include large {
            max-width: 1030px;
        }
    }

    .functioning-title {
        width: 73.33%;
        margin-bottom: 26px;
    }

    .functioning-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-left: 12px;

        @include large {
            flex-direction: row;
            justify-content: center;
        }
    }
}

// Restaurant 

.restaurant {
    display: flex;
    flex-direction: column;
    padding: 54px 20px 64px 20px;
    background-color: $primary-background;
    align-items: center;

    @include large {
        padding: 30px;
    }

    .restaurant-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include large {
            max-width: 1030px;
        }
    }

    .restaurant-title {
        margin-bottom: 28px;
    }
    .restaurant-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;

        @include large {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            column-gap: 100px;
            row-gap: 50px;
            justify-items:center; 
            align-items: center;
        }
    }
}