// Annimation 

// bouton rose 

.btn-rounded {
    transition: opacity 300ms ease-out;
    transition: box-shadow 300ms ease-out;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
}


// Animation appration menu 

@keyframes menu {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
}

.menu-items {
    opacity: 0;
    animation: menu .5s ease-in-out forwards;

    &-1 {
        animation-delay: .5s;
    }
    &-2 {
        animation-delay: 1s;
    }
    &-3 {
        animation-delay: 1.5s;
    }

}

//animation selecteur de plats 


.menu-cards {

    cursor: pointer;

        &:hover { 
            .menu-cards-right {
                width: 101px;
            }
            .menu-cards-selector {
                transform: scaleX(1);
                margin-left: 15px;
            }
    }
    .menu-cards-selector {
        transform: scaleX(0);
        transform-origin: center right;
        margin: 0;
        transition: all .250s ease-out;
    }
   
    .menu-cards-right {
        width: 42px;
        transition: width .250s ease-out;
    }

}

// Animation coeur 

#restaurant-heart-full {

    cursor: pointer;

    &:hover {
        opacity: 1;
        background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    transition: all 250ms;
    opacity: 0;
    background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}


// homepage coeur annimation 

.restaurant-cards-heart:hover {
    animation: heart 0.5s ease-in-out forwards;
}

// Loader 

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes close-loader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
  }

.loader {
    animation: close-loader 2s linear forwards;

    &-animation {
        animation: rotate 1s linear infinite;
    }
}