// Font 

$font-roboto:'Roboto', sans-serif;
$font-shrikhand:'Shrikhand', cursive;

.title {
    font-family: $font-roboto;
    font-size: 24px;
    font-weight: 700;
    
    @include large {
        &-desktop {
            font-size: 40px;
        }
    }
}

.discovery-text {
    font-family: $font-roboto;
        font-size: 18px;
        font-weight: 300;
}

.functioning-text {
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 500;
    &--number {
        color: white;
        font-size: 14px;
    }
}

.restaurant-content-title {
    font-family: $font-roboto;
    font-size: 18px;
    font-weight: 700;
}

.restaurant-card-text {
    font-family: $font-roboto;
    font-size: 17px;
    font-weight: 300;
}

.restaurant-new-text {
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 14px;
    color: $new-text;
}

.footer-title {
    font-family: $font-shrikhand;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: white;
}

.footer-text {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 16px;
    color: white;
    &--large {
        font-weight: 500;
        text-decoration: none;
    }
}

.link {
    text-decoration: none;
    color: black;

    &-white {
        color: white;
    }
}

.scroll-link {
    scroll-behavior: smooth;
}

.link-button {
    position: absolute;
}

.menu-restaurant-title {
    font-family: $font-shrikhand;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

.menu-items-title {
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 300;
}

.menu-cards {

    font-family: $font-roboto;

    &-title {
        font-size: 18px;
        font-weight: 500;
    }

    &-description {
        font-size: 15px;
        font-weight: 300;
    }

    &-price {
        font-size: 15px;
        font-weight: 700;
    }
}